<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="control-label col-sm-1"></div><h3>Characters</h3>
<!--opening tag for rendering all characters in characters.json using ejs-->
  <% for(var id of Object.keys(characters)) { %>
<!--Turns each character name into a button that opens a modal with character information in it-->
  <div class="control-label col-sm-1"></div><button id="characterBtn_<%=characters[id].characterId%>" type="button" class="btn btn-success" data-toggle="modal" data-target="#characterModal_<%=characters[id].characterId%>"><%=characters[id].CharacterName%></button><br><br>
<!--Creations modal with character information in a form that can be edited and will update characters.json-->
  <div id="characterModal_<%=characters[id].characterId%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <fieldset>
            <form  class="form-horizontal" method="post" action="/character/update" enctype="application/x-www-form-urlencoded">
              <div class="form-group"><label class="control-label col-sm-3" for="CharacterName">Character Name:</label><input type="text" id="CharacterName" name="CharacterName" value= "<%=characters[id].CharacterName%>" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Race">Race:</label><input type="text" id="Race" name="Race" value= "<%=characters[id].Race%>" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Class">Class:</label><input type="text" id="Class" name="Class" value= "<%=characters[id].Class%>" /></div><br>
              <div class="form-group"><label class="control-label col-sm-3" for="Strength">Strength:</label><input type="number" id="strength_<%=characters[id].characterId%>" name="Strength" value= "<%=characters[id].Strength%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="strengthEdit_<%=characters[id].characterId%>" type="button" value="edit" /><input type="number" id="strength_mod_<%=characters[id].characterId%>" name="Strengthmod" value= "" min="-5" max="10" readonly="readonly"/></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Dexterity">Dexterity:</label><input type="number" id="dexterity_<%=characters[id].characterId%>" name="Dexterity" value= "<%=characters[id].Dexterity%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="dexterityEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Constitution">Constitution:</label><input type="number" id="constitution_<%=characters[id].characterId%>" name="Constitution" value= "<%=characters[id].Constitution%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="constitutionEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Intelligence">Intelligence:</label><input type="number" id="intelligence_<%=characters[id].characterId%>" name="Intelligence" value= "<%=characters[id].Intelligence%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="intelligenceEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Wisdom">Wisdom:</label><input type="number" id="wisdom_<%=characters[id].characterId%>" name="Wisdom" value= "<%=characters[id].Wisdom%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="wisdomEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Charisma">Charisma:</label><input type="number" id="charisma_<%=characters[id].characterId%>" name="Charisma" value= "<%=characters[id].Charisma%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="charismaEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div>
<!--A form button for testing. Specifically trying to incorporate AJAX on this page-->
              <div class="form-group"><label class="control-label col-sm-3" for="test">Test:</label><input type="number" id="test_<%=characters[id].characterId%>" name="Test" value= "<%=characters[id].Test%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="testEdit_<%=characters[id].characterId%>" type="button" value="edit" /></div><div id='demo'></div>

              <input type="hidden" id="characterId" name="characterId" value= "<%=characters[id].characterId%>" />
            </form>
<!--Button opens modal for deleting charater from the characters.json-->
            <button id="deleteBtn_<%=characters[id].characterId%>" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_<%=characters[id].characterId%>">Delete <%=characters[id].CharacterName%></button>
<!--Modal for deleting character-->
            <div id="deleteModal_<%=characters[id].characterId%>" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <form method="post" action="/character/delete" enctype="application/x-www-form-urlencoded">
                      <input type="hidden" id="characterId" name="characterId" value= "<%=characters[id].characterId%>" />
                      <input class="btn btn-danger" id="deleteCharacter" type="submit" value="Delete Character Forever; Do Not Click Accidentally" />
<!--This button currently closes both modals, but it needs to only close the delete modal-->
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

          <script>
//Attempting to try using AJAX to update character data in characters.json
          var difference_<%=characters[id].characterId%> = <%=characters[id].Strength%> - 10
          var modifier_<%=characters[id].characterId%> = function mod_<%=characters[id].characterId%>() {
            if (difference_<%=characters[id].characterId%> < 0 === true) {
              var x_<%=characters[id].characterId%> = difference_<%=characters[id].characterId%> / 2
              return math.ceiling(x_<%=characters[id].characterId%>)};
            if (difference_<%=characters[id].characterId%> < 0 === false) {
              var x_<%=characters[id].characterId%> = difference_<%=characters[id].characterId%> / 2
              return math.floor(x_<%=characters[id].characterId%>)};
          }
          document.getElementById('strength_mod_<%=characters[id].characterId%>').setAttribute('value', modifier_<%=characters[id].characterId%>)

          function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                document.getElementById("demo").innerHTML = "saved";
              }
            };
            xhttp.open("POST", "/character/update", true);
            xhttp.send();
          }
//script for edit and save buttons in modal
          document.getElementById('testEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('test_<%=characters[id].characterId%>').readOnly === true) {
              document.getElementById('test_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('testEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
              document.getElementById('testEdit_<%=characters[id].characterId%>').setAttribute('onclick', 'loadDoc()');
            }
            else {

              //document.getElementById('testEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
              document.getElementById('testEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
              document.getElementById('test_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };

          document.getElementById('strengthEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('strength_<%=characters[id].characterId%>').readOnly === true) {
              document.getElementById('strength_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('strengthEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            }
            else {
              document.getElementById('strengthEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
              document.getElementById('strengthEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
              document.getElementById('strength_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('dexterityEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('dexterity_<%=characters[id].characterId%>').readOnly === true) {
              document.getElementById('dexterity_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('dexterityEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            }
            else {
             document.getElementById('dexterityEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
             document.getElementById('dexterityEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
             document.getElementById('dexterity_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('constitutionEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('constitution_<%=characters[id].characterId%>').readOnly === true) {
              document.getElementById('constitution_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('constitutionEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            }
            else {
              document.getElementById('constitutionEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
              document.getElementById('constitutionEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
              document.getElementById('constitution_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('intelligenceEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('intelligence_<%=characters[id].characterId%>').readOnly === true)
              {
              document.getElementById('intelligence_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('intelligenceEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            } else {
             document.getElementById('intelligenceEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
             document.getElementById('intelligenceEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
             document.getElementById('intelligence_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('wisdomEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('wisdom_<%=characters[id].characterId%>').readOnly === true)
              {
              document.getElementById('wisdom_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('wisdomEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            } else {
             document.getElementById('wisdomEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
             document.getElementById('wisdomEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
             document.getElementById('wisdom_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('charismaEdit_<%=characters[id].characterId%>').onclick = function() {
            if (document.getElementById('charisma_<%=characters[id].characterId%>').readOnly === true)
              {
              document.getElementById('charisma_<%=characters[id].characterId%>').removeAttribute('readonly');
              document.getElementById('charismaEdit_<%=characters[id].characterId%>').setAttribute('value', 'save');
            } else {
             document.getElementById('charismaEdit_<%=characters[id].characterId%>').setAttribute('type', 'submit');
             document.getElementById('charismaEdit_<%=characters[id].characterId%>').setAttribute('value', 'edit');
             document.getElementById('charisma_<%=characters[id].characterId%>').setAttribute('readonly', 'readonly');
            }
          };
          </script>
        </div>
      </div>
    </div>
  </div>

<% } %>

<a href="/character/creation">Create additional character</a>

</body>

</html>
