<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="control-label col-sm-1"></div><h3>Characters</h3>
  <% for(var id of Object.keys(characters)) { %>

  <div class="control-label col-sm-1"></div><button id="myBtn_<%=id%>" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal_<%=id%>"><%=characters[id].CharacterName%></button><br><br>

  <div id="myModal_<%=id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <fieldset>
            <form  class="form-horizontal" method="post" action="/character/update" enctype="application/x-www-form-urlencoded">
              <div class="form-group"><label class="control-label col-sm-3" for="CharacterName">Character Name:</label><input type="text" id="CharacterName" name="CharacterName" value= "<%=characters[id].CharacterName%>" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Race">Race:</label><input type="text" id="Race" name="Race" value= "<%=characters[id].Race%>" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Class">Class:</label><input type="text" id="Class" name="Class" value= "<%=characters[id].Class%>" /></div><br>
              <div class="form-group"><label class="control-label col-sm-3" for="Strength">Strength:</label><input type="number" id="strength_<%=id%>" name="Strength" value= "<%=characters[id].Strength%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="strengthEdit_<%=id%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Dexterity">Dexterity:</label><input type="number" id="dexterity_<%=id%>" name="Dexterity" value= "<%=characters[id].Dexterity%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="dexterityEdit_<%=id%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Constitution">Constitution:</label><input type="number" id="constitution_<%=id%>" name="Constitution" value= "<%=characters[id].Constitution%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="constitutionEdit_<%=id%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Intelligence">Intelligence:</label><input type="number" id="intelligence_<%=id%>" name="Intelligence" value= "<%=characters[id].Intelligence%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="intelligenceEdit_<%=id%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Wisdom">Wisdom:</label><input type="number" id="wisdom_<%=id%>" name="Wisdom" value= "<%=characters[id].Wisdom%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="wisdomEdit_<%=id%>" type="button" value="edit" /></div>
              <div class="form-group"><label class="control-label col-sm-3" for="Charisma">Charisma:</label><input type="number" id="charisma_<%=id%>" name="Charisma" value= "<%=characters[id].Charisma%>" min="3" max="30" readonly="readonly"/>
              <input class="btn btn-default" id="charismaEdit_<%=id%>" type="button" value="edit" /></div>
              <input type="hidden" id="characterId" name="characterId" value= "<%=id%>" />
            </form>
            <form method="post" action="/character/delete" enctype="application/x-www-form-urlencoded">
              <input type="hidden" id="characterId" name="characterId" value= "<%=id%>" />
              <input class="btn btn-danger" id="deleteCharacter" type="submit" value="Delete Character Forever; Do Not Click Accidentally" />
            </form>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

          <script>
          document.getElementById('strengthEdit_<%=id%>').onclick = function() {
            if (document.getElementById('strength_<%=id%>').readOnly === true)
              {
              document.getElementById('strength_<%=id%>').removeAttribute('readonly');
              document.getElementById('strengthEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('strengthEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('strengthEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('strength_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('dexterityEdit_<%=id%>').onclick = function() {
            if (document.getElementById('dexterity_<%=id%>').readOnly === true)
              {
              document.getElementById('dexterity_<%=id%>').removeAttribute('readonly');
              document.getElementById('dexterityEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('dexterityEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('dexterityEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('dexterity_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('constitutionEdit_<%=id%>').onclick = function() {
            if (document.getElementById('constitution_<%=id%>').readOnly === true)
              {
              document.getElementById('constitution_<%=id%>').removeAttribute('readonly');
              document.getElementById('constitutionEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('constitutionEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('constitutionEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('constitution_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('intelligenceEdit_<%=id%>').onclick = function() {
            if (document.getElementById('intelligence_<%=id%>').readOnly === true)
              {
              document.getElementById('intelligence_<%=id%>').removeAttribute('readonly');
              document.getElementById('intelligenceEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('intelligenceEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('intelligenceEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('intelligence_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('wisdomEdit_<%=id%>').onclick = function() {
            if (document.getElementById('wisdom_<%=id%>').readOnly === true)
              {
              document.getElementById('wisdom_<%=id%>').removeAttribute('readonly');
              document.getElementById('wisdomEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('wisdomEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('wisdomEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('wisdom_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          document.getElementById('charismaEdit_<%=id%>').onclick = function() {
            if (document.getElementById('charisma_<%=id%>').readOnly === true)
              {
              document.getElementById('charisma_<%=id%>').removeAttribute('readonly');
              document.getElementById('charismaEdit_<%=id%>').setAttribute('value', 'save');
            } else {
             document.getElementById('charismaEdit_<%=id%>').setAttribute('type', 'submit');
             document.getElementById('charismaEdit_<%=id%>').setAttribute('value', 'edit');
             document.getElementById('charisma_<%=id%>').setAttribute('readonly', 'readonly');
            }
          };
          </script>
        </div>
      </div>
    </div>
  </div>

<% } %>

</body>

</html>
